@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Universities</h1>
    <ul>
        @foreach (var university in Model.Universities)
        {
            <li>@university["name"] - @university["country"]</li>
        }
    </ul>
</div>
